[branch]
    sort = -committerdate

[commit]
    verbose = true

[core]
    fsmonitor = true
    pager = delta
    untrackedCache = true

[delta]
    navigate = true  # use n and N to move between diff sections

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[fetch]
    all = true

[help]
    autocorrect = prompt

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = zdiff3

[pull]
    rebase = true

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[rerere]
    enabled = true
    autoupdate = true

[tag]
    sort = version:refname
